@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		/* This theme was adapted from Cattpuccin Latte */
		--theme-bg: 220deg 23% 95%;
		--theme-link: 197deg 97% 46%;
		--theme-text: 223deg 10% 47%;
		--theme-accent: 109deg 58% 40%;
		--theme-accent-2: 234deg 16% 35%;
		--theme-quote: 347deg 87% 44%;
	}

	/* This theme was adapted from Cattpuccin Mocha */
	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 240deg 21% 15%;
		--theme-link: 189deg 71% 73%;
		--theme-text: 228deg 24% 72%;
		--theme-accent: 115deg 54% 76%;
		--theme-accent-2: 226deg 64% 88%;
		--theme-quote: 343deg 81% 75%;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-4xl flex-col bg-bgColor px-8 pt-8 font-serif text-base font-normal text-textColor;
	}
}
