---
import { menuLinks } from '@/site-config';

import Search from '../Search.astro';
import ThemeToggle from '../ThemeToggle.astro';

const url = new URL(Astro.request.url);
---

<header class='group relative mb-20 flex items-center sm:ps-[4.5rem]' id='main-header'>
  <div class='flex sm:flex-col'>
    <a
      aria-current={url.pathname === '/' ? 'page' : false}
      class='inline-flex items-center sm:relative sm:inline-block'
      href='/'>
      <svg
        aria-hidden='true'
        class='-mt-2 me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12'
        fill='none'
        focusable='false'
        viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'>
        <title>Logo</title>
        <path
          d='m12 5e-7c6.648 0 12 5.352 12 12 0 6.648-5.352 12-12 12-6.648 0-12-5.352-12-12 0-6.648 5.352-12 12-12z'
          fill='#eff1f5'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='6.5072'
          style='paint-order:stroke markers fill'></path>
        <path
          d='m20.383 18.011h-4.4511c-1.3521 0-2.2647-0.99152-2.7267-2.9858h-0.05634c-1.1155 2.152-2.6816 3.2224-4.6534 3.2224-1.476 0-2.6591-0.55209-3.5492-1.6675-0.89011-1.1155-1.3295-2.5126-1.3295-4.2027 0-1.9718 0.50702-3.5492 1.5098-4.7773 1.0028-1.2281 2.3661-1.8478 4.09-1.8478 0.92391 0 1.7577 0.25915 2.4788 0.76617 0.7211 0.51829 1.2732 1.2394 1.6563 2.1746h0.04507l1.2732-2.7041h2.4112l-2.4112 5.9942c0.27041 1.3971 0.55209 2.3548 0.86758 2.8619 0.27041 0.50702 0.6535 0.76617 1.1267 0.76617h3.7187v1.5528zm-7.865-6.1294c-0.23661-1.2732-0.6197-2.2647-1.138-2.9407-0.50702-0.6873-1.1267-1.0253-1.8366-1.0253-0.92391 0-1.6675 0.41689-2.2196 1.2394-0.55209 0.83377-0.79997 1.8591-0.79997 3.0647 0 1.1042 0.21408 2.0168 0.69857 2.7605 0.47322 0.74364 1.1155 1.1042 1.9154 1.1042 0.67603 0 1.2957-0.32675 1.8478-0.94645 0.56336-0.64223 1.0253-1.5774 1.3971-2.8055z'
          fill='#1e1e2e'
          stroke-width='1.1267'></path>
      </svg>
      <span class='text-xl font-bold text-accent-2 sm:text-2xl'>Ambadaya</span>
    </a>
    <nav
      aria-label='Main menu'
      class='absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none'
      id='navigation-menu'>
      {
        menuLinks.map((link) => (
          <a
            aria-current={url.pathname === link.path ? 'page' : false}
            class='px-4 py-4 underline-offset-2 sm:py-0 sm:hover:underline'
            data-astro-prefetch
            href={link.path}>
            {link.title}
          </a>
        ))
      }
    </nav>
  </div>
  <Search />
  <ThemeToggle />
  <mobile-button>
    <button
      aria-expanded='false'
      aria-haspopup='menu'
      aria-label='Open main menu'
      class='group relative ms-4 h-7 w-7 sm:invisible sm:hidden'
      id='toggle-navigation-menu'
      type='button'>
      <svg
        aria-hidden='true'
        class='absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0'
        fill='none'
        focusable='false'
        id='line-svg'
        stroke='currentColor'
        stroke-width='1.5'
        viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'>
        <path d='M3.75 9h16.5m-16.5 6.75h16.5' stroke-linecap='round' stroke-linejoin='round'
        ></path>
      </svg>
      <svg
        aria-hidden='true'
        class='absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100'
        class='text-accent'
        fill='none'
        focusable='false'
        id='cross-svg'
        stroke='currentColor'
        stroke-width='1.5'
        viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'>
        <path d='M6 18L18 6M6 6l12 12' stroke-linecap='round' stroke-linejoin='round'></path>
      </svg>
    </button>
  </mobile-button>
</header>

<script>
  import { toggleClass } from '@/utils';

  class MobileNavBtn extends HTMLElement {
    private headerEl: HTMLElement;
    private menuOpen: boolean;
    private mobileButtonEl: HTMLButtonElement;

    toggleMobileMenu = () => {
      toggleClass(this.headerEl, 'menu-open');
      this.menuOpen = !this.menuOpen;
      this.mobileButtonEl.setAttribute('aria-expanded', this.menuOpen.toString());
    };

    constructor() {
      super();
      this.headerEl = document.getElementById('main-header')!;
      this.mobileButtonEl = this.querySelector('button') as HTMLButtonElement;
      this.menuOpen = false;

      this.mobileButtonEl.addEventListener('click', this.toggleMobileMenu);
    }
  }

  customElements.define('mobile-button', MobileNavBtn);
</script>
