---
import PageLayout from '@/layouts/Base.astro';

const meta = {
  description: 'Oops! It looks like you entered the wrong URL!',
  title: 'Oops! This page is missing!',
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-6">404 | Oops something went wrong</h1>
  <p class="mb-8">Page not found, please use the navigation to find your way back</p>
</PageLayout>
