---
import PageLayout from '@/layouts/Base.astro';

const meta = {
  description: "I'm a starter theme for Astro.build",
  title: 'About',
};
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title">About</h1>
    <p>
      This is just another personal website for showing projects or something, there is also blog
      here though I don't know what to write.
    </p>
    <p>
      This site is modified from <a
        aria-label="astro cactus github repository"
        class="cactus-link inline-block"
        href="https://github.com/chrismwilliams/astro-cactus"
        rel="noopener noreferrer"
        target="_blank">Astro Cactus</a
      > template for Astro cause I am lazy, also this is a very cool template. The colorscheme used in
      this site is from Catppuccin Latte and Catppuccin Mocha pallete.That's it I guess.
    </p>
    <p>
      Like the Astro Cactus template, this project is MIT licensed so you're free to use any content
      here however you like.
    </p>
    <p>
      The Github repository for this website is available <a
        aria-label="github repository"
        class="cactus-link inline-block"
        href="https://github.com/vorkey/port"
        rel="noopener noreferrer"
        target="_blank">here</a
      >.
    </p>
  </div>
</PageLayout>
