---
import PageLayout from '@/layouts/Base.astro';

const meta = {
  description: "Projects I've created",
  title: 'Projects',
};
---

<PageLayout meta={meta}>
  <div class='space-y-6'>
    <p>Here are some projects I've created:</p>
    <ul class='list-inside list-disc'>
      <li>None</li>
    </ul>
    <p>Well currently none is worth listing. All of them is nothing I can be proud of.</p>
  </div>
</PageLayout>
